.header{
justify-content: center;  
width: 100%;
display: flex;
}

.header .title{
letter-spacing: 0.1em;
align-self: center;
font-size: 2em
}




#landing h6{
  padding-top: 1.5em;
  font-family: 'Nunito', sans-serif;
font-weight: 300;
}

#landing-carrousel {
  min-height: 13em;
}

#landing-carrousel img{
  width: 7em;
  margin: auto;
}

.slick-slider{
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
}

.slick-slider h3{
 margin-top: 0.5em;
}

.slick-slider ul{
  left:0
 }

.slick-dots{
color:white;
width: 100%;
}

#landing-buttons button {
  display: block;
  width: 70%;
  margin: 1em auto;
  background: var(--main-gradient);
  color: var(--btn-font-color);
  border: none;
  padding: var(--btn-padding);
  text-decoration: none;
}

#landing-buttons button:hover {
  background: var(--main-gradient-hover);
  border: none;
}

link {
  text-decoration: none;
}

#landing-carrousel button:hover{
  border-radius: 100%;
  background: rgba(255, 235, 205, 0.336)
}
