#map-container{
    height: 28em;
	width: 100%;
	position: relative;
	z-index: 0

}

#map-container img{	
	-webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
	filter: none;
	mix-blend-mode: normal;
}

#section-map{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.425);
}




#section-filter{

}
 
#section-filter{
position: absolute;
display: flex;
flex-wrap: wrap;
justify-content: space-between;


/* 	position: absolute;
	z-index: 0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: auto;
	height: auto; */
	
}

.filter{
display:flex;
width: 30%;
margin:30px;
}

.filter-icon{
	-webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
	filter: none;
	mix-blend-mode: normal;
	width: 50px;
	height: 50px;
}

.filter-text{
	text-align: left;
	padding-left:10px;
	align-self: center;
} 